body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  margin: 1;
  padding: 10rem;
}

h1 {
  color: #968ff2;
}

p {
  font-size: 1.5rem;
}



